Toon-Rooted-Node-Red-Zwave.json
[{"id":"cd07fdfd.a13fb","type":"tab","label":"Toon-Rooted-Node-Red-Zwave","disabled":false,"info":"www.evertdekker.com is the original author\nhttps://flows.nodered.org/flow/a4703e4a63992bbeb80f76219cddc5e4\n\nmine is to be found at\nhttps://github.com/mr4hughz/Toon-Rooted-Node-Red-Zwave"},{"id":"881b6ca1.33b3b","type":"inject","z":"cd07fdfd.a13fb","name":"Make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":260,"wires":[["a3f2bf4d.1be49","c530ccdb.49d33","e7668103.621d"]]},{"id":"3617f0e8.cedb9","type":"http request","z":"cd07fdfd.a13fb","name":"HttpRequest2","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":260,"wires":[["d7c21566.488638"]]},{"id":"52c5f3da.3f9b3c","type":"debug","z":"cd07fdfd.a13fb","name":"GetThermo-debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":240,"wires":[]},{"id":"d7c21566.488638","type":"json","z":"cd07fdfd.a13fb","name":"Json2","property":"payload","action":"","pretty":false,"x":910,"y":260,"wires":[["52c5f3da.3f9b3c","e5bc1529.5fba28"]]},{"id":"bdd3f071.ead5","type":"ui_numeric","z":"cd07fdfd.a13fb","name":"","label":"Set temperature","group":"2c26d754.82d2e8","order":5,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value  | number:1}}","min":"15","max":"28","step":"0.5","x":500,"y":500,"wires":[["ecd7ed39.da924"]]},{"id":"5e925269.a8725c","type":"function","z":"cd07fdfd.a13fb","name":"GetCurrentSetpoint","func":"var CurrentSetpoint = parseInt(msg.payload.currentSetpoint)\n//CurrentSetpoint = CurrentSetpoint /1000\nmsg.payload=CurrentSetpoint /100\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":500,"wires":[["bdd3f071.ead5"]]},{"id":"fee8a43b.540678","type":"http request","z":"cd07fdfd.a13fb","name":"HttpRequest4","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":500,"wires":[["4ae9731e.6e628c"]]},{"id":"3add1336.148dac","type":"debug","z":"cd07fdfd.a13fb","name":"SetSetPoint-debug1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1280,"y":500,"wires":[]},{"id":"4ae9731e.6e628c","type":"json","z":"cd07fdfd.a13fb","name":"Json5","property":"payload","action":"","pretty":false,"x":1070,"y":500,"wires":[["3add1336.148dac"]]},{"id":"ecd7ed39.da924","type":"function","z":"cd07fdfd.a13fb","name":"SetSetPoint","func":"msg.url = flow.get(\"ToonUrl\") + \"/happ_thermstat?action=setSetpoint&Setpoint=\" + msg.payload *100\nconsole.log(global.get(\"ToonUrl\"));\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":500,"wires":[["fee8a43b.540678"]]},{"id":"7f30a3b2.9dacbc","type":"ui_template","z":"cd07fdfd.a13fb","group":"2c26d754.82d2e8","name":"Page Got Loaded","order":4,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":250,"y":200,"wires":[["a3f2bf4d.1be49","c530ccdb.49d33","e7668103.621d"]]},{"id":"3c421160.0dea5e","type":"ui_button","z":"cd07fdfd.a13fb","name":"","group":"2c26d754.82d2e8","order":9,"width":2,"height":1,"passthru":false,"label":"Weg","color":"{{msg.color}}","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":530,"y":620,"wires":[["fef87dd5.3b6f1"]]},{"id":"df8d3f3a.1fcb8","type":"ui_button","z":"cd07fdfd.a13fb","name":"","group":"2c26d754.82d2e8","order":11,"width":2,"height":1,"passthru":false,"label":"Thuis","color":"{{msg.color}}","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":530,"y":660,"wires":[["fef87dd5.3b6f1"]]},{"id":"39072fb6.57d8d","type":"ui_button","z":"cd07fdfd.a13fb","name":"","group":"2c26d754.82d2e8","order":7,"width":2,"height":1,"passthru":false,"label":"Slapen","color":"{{msg.color}}","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":520,"y":700,"wires":[["fef87dd5.3b6f1"]]},{"id":"2d626b98.a2ae34","type":"ui_button","z":"cd07fdfd.a13fb","name":"","group":"2c26d754.82d2e8","order":10,"width":2,"height":1,"passthru":false,"label":"Comfort","color":"{{msg.color}}","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":520,"y":740,"wires":[["fef87dd5.3b6f1"]]},{"id":"fef87dd5.3b6f1","type":"function","z":"cd07fdfd.a13fb","name":"SetSetPoint","func":"msg.url = flow.get(\"ToonUrl\") + \"/happ_thermstat?action=changeSchemeState&state=2&temperatureState=\" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":680,"wires":[["47654f76.c9638"]]},{"id":"14af678f.558108","type":"function","z":"cd07fdfd.a13fb","name":"CurrentSetpointFontColor","func":"var ActiveState = msg.payload.activeState\nvar Offcolor = \"white\";\nvar Oncolor = \"orange\";\n\n\nvar msg1= {color: Offcolor};\nvar msg2= {color: Offcolor};\nvar msg3= {color: Offcolor};\nvar msg4= {color: Offcolor};\n\nswitch (ActiveState) {\n       case \"0\":\n        msg4.color = Oncolor;\n       break;\n       case \"1\":\n       msg2.color = Oncolor;\n       break;\n       case \"2\":\n        msg3.color = Oncolor;\n       break;\n       case \"3\":\n        msg1.color = Oncolor;\n       break;\n       default:\n        console.log(\"Error, unknown state: \" + msg.payload.activeState)\n    \tbreak;\n       }  \n//var msg1 = { payload:\"first out of output 1\" };\n//var msg2 = { payload:\"second out of output 1\" };\n//var msg3 = { payload:\"third out of output 1\" };\n//var msg4 = { payload:\"only message from output 2\" };\nreturn [ msg1, msg2, msg3 , msg4 ];\n\n//var newMsg = { payload: msg.payload.length };\n//return [msg, newMsg];\n//return  msg1;","outputs":4,"noerr":0,"x":230,"y":680,"wires":[["3c421160.0dea5e"],["df8d3f3a.1fcb8"],["39072fb6.57d8d"],["2d626b98.a2ae34"]]},{"id":"69933508.1f21ac","type":"change","z":"cd07fdfd.a13fb","name":"RefreshInfo","rules":[{"t":"delete","p":"url","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":320,"wires":[["a3f2bf4d.1be49","c530ccdb.49d33","e7668103.621d"]]},{"id":"bbb78b8d.5c1778","type":"ui_text","z":"cd07fdfd.a13fb","group":"2c26d754.82d2e8","order":6,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload.currentTemp /100  | number:1}} &deg;C","layout":"row-spread","x":510,"y":900,"wires":[]},{"id":"8ba0f6b3.7ca108","type":"ui_switch","z":"cd07fdfd.a13fb","name":"","label":"Program","group":"2c26d754.82d2e8","order":8,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":520,"y":820,"wires":[["7af97896.614188"]]},{"id":"7af97896.614188","type":"function","z":"cd07fdfd.a13fb","name":"ProgramOnOff","func":"msg.url = flow.get(\"ToonUrl\") +\"/happ_thermstat?action=changeSchemeState&state=\" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":820,"wires":[["ee8c920.9bb8d7"]]},{"id":"e3a50026.16486","type":"change","z":"cd07fdfd.a13fb","name":"SetCurrentState","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.programState","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":820,"wires":[["8ba0f6b3.7ca108"]]},{"id":"cb40b6a4.6dc448","type":"http request","z":"cd07fdfd.a13fb","name":"HttpRequest1","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":200,"wires":[["dfbdae2e.b95b9"]]},{"id":"3b1f057.a4f32fa","type":"debug","z":"cd07fdfd.a13fb","name":"GetBoilerInfo-Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1280,"y":180,"wires":[]},{"id":"dfbdae2e.b95b9","type":"json","z":"cd07fdfd.a13fb","name":"Json1","property":"payload","action":"","pretty":false,"x":910,"y":200,"wires":[["3b1f057.a4f32fa","4a485f5d.fc4d2"]]},{"id":"3b56c9cf.7a9c36","type":"function","z":"cd07fdfd.a13fb","name":"ToonIP","func":"//Set here the IP of the Toon\nflow.set(\"ToonUrl\", \"http://<yourip>\");\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[[]]},{"id":"4a485f5d.fc4d2","type":"link out","z":"cd07fdfd.a13fb","name":"Boilerinfo","links":["2872eff8.7b568","4e343fca.976f9","f15c95be.ebc7b8","f68e622b.9c88","b45a5e7.3b4aaa"],"x":1115,"y":200,"wires":[]},{"id":"e5bc1529.5fba28","type":"link out","z":"cd07fdfd.a13fb","name":"ThermostatInfo","links":["3a35c32c.49876c","c6589633.dc0758","a8da275c.cc34f8","2b5dd65b.573bda","53d0382d.cf8f98"],"x":1115,"y":260,"wires":[]},{"id":"3a35c32c.49876c","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e5bc1529.5fba28"],"x":35,"y":680,"wires":[["14af678f.558108"]]},{"id":"c6589633.dc0758","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e5bc1529.5fba28"],"x":35,"y":820,"wires":[["e3a50026.16486"]]},{"id":"47654f76.c9638","type":"http request","z":"cd07fdfd.a13fb","name":"HttpRequest5","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":680,"wires":[["4a21a408.0debac"]]},{"id":"ee8c920.9bb8d7","type":"http request","z":"cd07fdfd.a13fb","name":"HttpRequest6","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":820,"wires":[["573e7628.973418"]]},{"id":"4a21a408.0debac","type":"json","z":"cd07fdfd.a13fb","name":"Json6","property":"payload","action":"","pretty":false,"x":1070,"y":680,"wires":[["81800339.be3f","69933508.1f21ac"]]},{"id":"573e7628.973418","type":"json","z":"cd07fdfd.a13fb","name":"JSON7","property":"payload","action":"","pretty":false,"x":1080,"y":820,"wires":[["8760a0a4.361ce","69933508.1f21ac"]]},{"id":"81800339.be3f","type":"debug","z":"cd07fdfd.a13fb","name":"SetSetPoint-debug2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1280,"y":680,"wires":[]},{"id":"8760a0a4.361ce","type":"debug","z":"cd07fdfd.a13fb","name":"","active":false,"console":"false","complete":"false","x":1250,"y":820,"wires":[]},{"id":"a8da275c.cc34f8","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e5bc1529.5fba28"],"x":35,"y":500,"wires":[["5e925269.a8725c"]]},{"id":"2b5dd65b.573bda","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e5bc1529.5fba28"],"x":35,"y":900,"wires":[["bbb78b8d.5c1778"]]},{"id":"cd43f203.08ed1","type":"inject","z":"cd07fdfd.a13fb","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":100,"wires":[["3b56c9cf.7a9c36"]]},{"id":"df8aa473.4a5b78","type":"http request","z":"cd07fdfd.a13fb","name":"HttpRequest3","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":320,"wires":[["5b6a6893.eb04f8"]]},{"id":"5b6a6893.eb04f8","type":"json","z":"cd07fdfd.a13fb","name":"Json3","property":"payload","action":"","pretty":false,"x":910,"y":320,"wires":[["c39ea68f.38b168","e4ffdcf8.31bd7"]]},{"id":"c39ea68f.38b168","type":"debug","z":"cd07fdfd.a13fb","name":"GetZwaveDevices-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1290,"y":300,"wires":[]},{"id":"e4ffdcf8.31bd7","type":"link out","z":"cd07fdfd.a13fb","name":"ZwaveDevices","links":["84def792.19cda8","7581d4b2.1a2f6c","b35ec2d3.6a88c","33738a49.ba74f6","76a6952f.d01e5c","e9560e30.b97da","9290ea20.e66f78","b8dd76c8.f47bc8","ff1c7538.2b13b8","ffd989.3ac60678","82881224.ceb5","cee7db5e.134978","f80075e8.894fa8","430ec280.6551cc","f44bae08.5022e","e8dcb89.2744a48","d586d35a.a204","5649751e.cdef2c","1fd0e2a6.98394d","88a7b1e.463465","2539234c.8a647c","1c3bb1fa.ea1a7e","f2c92858.041778","aa62eef2.c4c4c","fcb195fe.da74d8","1bc90cc1.c4c033"],"x":1115,"y":320,"wires":[]},{"id":"84def792.19cda8","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1120,"wires":[["a8ee5b1f.757768"]]},{"id":"a998ed0b.a7168","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":1,"width":0,"height":0,"name":"","label":"Gas Now","format":"{{msg.payload[\"dev_3.1\"].CurrentGasFlow  | number:2}} M&sup2;","layout":"row-spread","x":500,"y":1020,"wires":[]},{"id":"7581d4b2.1a2f6c","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1020,"wires":[["a998ed0b.a7168"]]},{"id":"af5188e6.e26d08","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":2,"width":0,"height":0,"name":"","label":"Gas Today","format":"{{msg.payload[\"dev_3.1\"].CurrentGasQuantity  | number:2}} M&sup2;","layout":"row-spread","x":510,"y":1060,"wires":[]},{"id":"b35ec2d3.6a88c","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1060,"wires":[["af5188e6.e26d08"]]},{"id":"a45bb771.058b18","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":4,"width":0,"height":0,"name":"Current Today-Normal(Single Meter) NL= Enkel Tarief","label":"Current Today-Normal(Single Meter) NL= Enkel Tarief","format":"{{msg.payload[\"dev_3.2\"].CurrentElectricityQuantity  | number:0}} KwH","layout":"row-spread","x":640,"y":1160,"wires":[]},{"id":"33738a49.ba74f6","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1160,"wires":[["a45bb771.058b18"]]},{"id":"e0d0e8f0.106ba8","type":"ui_text","z":"cd07fdfd.a13fb","group":"12482380.fecd2c","order":1,"width":0,"height":0,"name":"","label":"Boiler Set Point","format":"{{msg.payload.boilerSetpoint}} &deg;C","layout":"row-spread","x":520,"y":1720,"wires":[]},{"id":"2872eff8.7b568","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["4a485f5d.fc4d2"],"x":35,"y":1720,"wires":[["e0d0e8f0.106ba8"]]},{"id":"82b45494.a9bb48","type":"ui_text","z":"cd07fdfd.a13fb","group":"12482380.fecd2c","order":2,"width":0,"height":0,"name":"","label":"Boiler Out Temperature","format":"{{msg.payload.boilerOutTemp}} &deg;C","layout":"row-spread","x":550,"y":1760,"wires":[]},{"id":"4e343fca.976f9","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["4a485f5d.fc4d2"],"x":35,"y":1760,"wires":[["82b45494.a9bb48"]]},{"id":"60062f59.ac3e7","type":"ui_text","z":"cd07fdfd.a13fb","group":"12482380.fecd2c","order":3,"width":0,"height":0,"name":"","label":"Boiler In Temperature","format":"{{msg.payload.boilerInTemp}} &deg;C","layout":"row-spread","x":540,"y":1800,"wires":[]},{"id":"f15c95be.ebc7b8","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["4a485f5d.fc4d2"],"x":35,"y":1800,"wires":[["60062f59.ac3e7"]]},{"id":"121b0d07.71e3d3","type":"ui_text","z":"cd07fdfd.a13fb","group":"12482380.fecd2c","order":4,"width":0,"height":0,"name":"","label":"Boiler Pressure","format":"{{msg.payload.boilerPressure}} Bar","layout":"row-spread","x":520,"y":1840,"wires":[]},{"id":"f68e622b.9c88","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["4a485f5d.fc4d2"],"x":35,"y":1840,"wires":[["121b0d07.71e3d3"]]},{"id":"ee8f3d5.ecf41c","type":"ui_text","z":"cd07fdfd.a13fb","group":"12482380.fecd2c","order":5,"width":0,"height":0,"name":"","label":"Modulation Level","format":"{{msg.payload.boilerModulationLevel}} %","layout":"row-spread","x":530,"y":1880,"wires":[]},{"id":"b45a5e7.3b4aaa","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["4a485f5d.fc4d2"],"x":35,"y":1880,"wires":[["ee8f3d5.ecf41c"]]},{"id":"a3f2bf4d.1be49","type":"function","z":"cd07fdfd.a13fb","name":"GetBoilerInfo","func":"msg.url = flow.get(\"ToonUrl\") + \"/boilerstatus/boilervalues.txt\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["cb40b6a4.6dc448"]]},{"id":"c530ccdb.49d33","type":"function","z":"cd07fdfd.a13fb","name":"GetThermostatInfo","func":"msg.url = flow.get(\"ToonUrl\") + \"/happ_thermstat?action=getThermostatInfo\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["3617f0e8.cedb9"]]},{"id":"e7668103.621d","type":"function","z":"cd07fdfd.a13fb","name":"GetZwaveDevices","func":"msg.url = flow.get(\"ToonUrl\") + \"/hdrv_zwave?action=getDevices.json\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":320,"wires":[["df8aa473.4a5b78"]]},{"id":"e20e7d80.ce341","type":"ui_text","z":"cd07fdfd.a13fb","group":"2c26d754.82d2e8","order":1,"width":0,"height":0,"name":"Burner","label":"Burner","format":"<font color={{msg.color}}><i class=\"fa fa-fire fa-2x\" style= \"font-size:12px;\"></i></font>","layout":"row-spread","x":490,"y":960,"wires":[]},{"id":"7d0052f1.54599c","type":"switch","z":"cd07fdfd.a13fb","name":"Burner on/off","property":"payload.burnerInfo","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":960,"wires":[["1cce1d08.642db3"],["598fa871.2a1f18"]]},{"id":"1cce1d08.642db3","type":"change","z":"cd07fdfd.a13fb","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":940,"wires":[["e20e7d80.ce341"]]},{"id":"598fa871.2a1f18","type":"change","z":"cd07fdfd.a13fb","name":"Black","rules":[{"t":"set","p":"color","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":980,"wires":[["e20e7d80.ce341"]]},{"id":"53d0382d.cf8f98","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e5bc1529.5fba28"],"x":35,"y":960,"wires":[["7d0052f1.54599c"]]},{"id":"ada03350.51ac2","type":"ui_button","z":"cd07fdfd.a13fb","name":"Refresh button","group":"2c26d754.82d2e8","order":2,"width":1,"height":1,"passthru":false,"label":"","color":"black","bgcolor":"white","icon":"refresh","payload":"","payloadType":"str","topic":"","x":500,"y":560,"wires":[["69933508.1f21ac"]]},{"id":"f1991efa.917fb","type":"comment","z":"cd07fdfd.a13fb","name":"<-Change you ip adres here, click for more info","info":"Set here here the ip address your Toon uses.\n\n========================================\nVer 1.0 12-01-2019 EvertDekker.com\n========================================\nNote: This flow only works with rooted Toons.\nTested with Toon version 4.22.7\n========================================\n\nThis is a basic flow that shows/operate the primary use of the Toon Thermostat.\nBecause I don't have my Toon connected to the Boiler and energy use sensors,\nit's for now just lying on my workbench, I couldn't tested everything full.\n\n\n\nMore info about Toon Rooten:\nhttps://ehoco.nl/rooten-van-enecos-toon-thermostaat/\n\nor if you want your Toon get rooted mail me, see at the end of this flow.\n\n","x":820,"y":100,"wires":[]},{"id":"a8ee5b1f.757768","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":3,"width":0,"height":0,"name":"Current Now-Normal(Single Meter) NL= Enkel Tarief","label":"Current Now-Normal(Single Meter) NL= Enkel Tarief","format":"{{msg.payload[\"dev_3.2\"].CurrentElectricityFlow  | number:0}} Watt","layout":"row-spread","x":630,"y":1120,"wires":[]},{"id":"82881224.ceb5","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1280,"wires":[["b4db2873.9b52a8"]]},{"id":"e29ee1e0.b130d","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":8,"width":0,"height":0,"name":"Current Today-Low(Dual Meter) NL=Normal Tarief","label":"Current Today-Low(Dual Meter) NL=Normal Tarief","format":"{{msg.payload[\"dev_3.4\"].CurrentElectricityQuantity  | number:0}} KwH","layout":"row-spread","x":630,"y":1320,"wires":[]},{"id":"cee7db5e.134978","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1320,"wires":[["e29ee1e0.b130d"]]},{"id":"b4db2873.9b52a8","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":7,"width":0,"height":0,"name":"Current Now-Low(Dual Meter) NL=Normal Tarief","label":"Current Now-Low(Dual Meter) NL=Normal Tarief","format":"{{msg.payload[\"dev_3.4\"].CurrentElectricityFlow  | number:0}} Watt","layout":"row-spread","x":620,"y":1280,"wires":[]},{"id":"f80075e8.894fa8","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1440,"wires":[["4f927711.3d4b88"]]},{"id":"84dab990.7ea9f8","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":12,"width":0,"height":0,"name":"Current Today-High(Dual Meter) NL=Dal Tarief","label":"Current Today-High(Dual Meter) NL=Dal Tarief","format":"{{msg.payload[\"dev_3.6\"].CurrentElectricityQuantity  | number:0}} KwH","layout":"row-spread","x":620,"y":1480,"wires":[]},{"id":"430ec280.6551cc","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1480,"wires":[["84dab990.7ea9f8"]]},{"id":"4f927711.3d4b88","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":11,"width":0,"height":0,"name":"Current Now-High(Dual Meter) NL=Dal Tarief","label":"Current Now-High(Dual Meter) NL=Dal Tarief","format":"{{msg.payload[\"dev_3.6\"].CurrentElectricityFlow  | number:0}} Watt","layout":"row-spread","x":610,"y":1440,"wires":[]},{"id":"d586d35a.a204","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1200,"wires":[["620e59f5.bc6868"]]},{"id":"cec85bdc.501048","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":6,"width":0,"height":0,"name":"Current Today-Solar(Single Meter) NL= Enkel Tarief","label":"Current Today-Solar(Single Meter) NL= Enkel Tarief","format":"{{msg.payload[\"dev_3.3\"].CurrentElectricityQuantity  | number:0}} KwH","layout":"row-spread","x":630,"y":1240,"wires":[]},{"id":"5649751e.cdef2c","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1240,"wires":[["cec85bdc.501048"]]},{"id":"620e59f5.bc6868","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":5,"width":0,"height":0,"name":"Current Now-Solar(Single Meter) NL= Enkel Tarief","label":"Current Now-Solar(Single Meter) NL= Enkel Tarief","format":"{{msg.payload[\"dev_3.3\"].CurrentElectricityFlow  | number:0}} Watt","layout":"row-spread","x":630,"y":1200,"wires":[]},{"id":"2539234c.8a647c","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1360,"wires":[["911f1492.b8e1c8"]]},{"id":"c401c903.ce4998","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":10,"width":0,"height":0,"name":"Current Today-Solar(Dual Meter) NL=Normal Tarief","label":"Current Today-Solar(Dual Meter) NL=Normal Tarief","format":"{{msg.payload[\"dev_3.5\"].CurrentElectricityQuantity  | number:0}} KwH","layout":"row-spread","x":630,"y":1400,"wires":[]},{"id":"1c3bb1fa.ea1a7e","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1400,"wires":[["c401c903.ce4998"]]},{"id":"911f1492.b8e1c8","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":9,"width":0,"height":0,"name":"Current Now-Solar(Dual Meter) NL=Normal Tarief","label":"Current Now-Solar(Dual Meter) NL=Normal Tarief","format":"{{msg.payload[\"dev_3.5\"].CurrentElectricityFlow  | number:0}} Watt","layout":"row-spread","x":630,"y":1360,"wires":[]},{"id":"f2c92858.041778","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1520,"wires":[["860292e3.c5c62"]]},{"id":"219c3ce0.5140c4","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":14,"width":0,"height":0,"name":"Current Today-Solar(Dual Meter) NL=Dal Tarief","label":"Current Today-Solar(Dual Meter) NL=Dal Tarief","format":"{{msg.payload[\"dev_3.7\"].CurrentElectricityQuantity  | number:0}} KwH","layout":"row-spread","x":620,"y":1560,"wires":[]},{"id":"aa62eef2.c4c4c","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1560,"wires":[["219c3ce0.5140c4"]]},{"id":"860292e3.c5c62","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":13,"width":0,"height":0,"name":"Current Now-Solar(Dual Meter) NL=Dal Tarief","label":"Current Now-Solar(Dual Meter) NL=Dal Tarief","format":"{{msg.payload[\"dev_3.7\"].CurrentElectricityFlow  | number:0}} Watt","layout":"row-spread","x":610,"y":1520,"wires":[]},{"id":"4b96fd5e.10cb44","type":"ui_text","z":"cd07fdfd.a13fb","group":"8a6313fd.41f7c","order":15,"width":0,"height":0,"name":"City Heat","label":"City Heat","format":"{{msg.payload[\"dev_3.8\"].CurrentHeatQuantity  | number:2}} M&sup2;","layout":"row-spread","x":500,"y":1600,"wires":[]},{"id":"fcb195fe.da74d8","type":"link in","z":"cd07fdfd.a13fb","name":"","links":["e4ffdcf8.31bd7"],"x":35,"y":1600,"wires":[["4b96fd5e.10cb44"]]},{"id":"2c26d754.82d2e8","type":"ui_group","z":"","name":"Toon","tab":"ca0ec4a4.8162c8","order":1,"disp":true,"width":6},{"id":"8a6313fd.41f7c","type":"ui_group","z":"","name":"Energy use","tab":"ca0ec4a4.8162c8","order":3,"disp":true,"width":"12","collapse":false},{"id":"12482380.fecd2c","type":"ui_group","z":"","name":"Boiler Info","tab":"ca0ec4a4.8162c8","order":4,"disp":true,"width":"6"},{"id":"ca0ec4a4.8162c8","type":"ui_tab","z":"","name":"Toon","icon":"dashboard"}]
